*
  box-sizing: border-box

.game-field
  display: flex
  flex-flow: row wrap
  width: 800px
  margin: 0 auto

.game-field__card
  display: flex
  position: relative
  width: 180px
  height: 180px
  background: mediumpurple
  border: 2px solid black
  margin: 10px
  transform-style: preserve-3d
  transition: 0.8s
  //transition-delay: 1s

.game-field__card--back::before
  margin: auto
  font-size: 2em

.game-field__card--open
  background: yellow

.uno::before
  margin: auto
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  background: green
  font-size: 3em
  transform: rotateY(180deg)
  backface-visibility: hidden

.uno
  backface-visibility: hidden

.correct
  background: green
  transform: rotateY(180deg)

.game-field__card--incorrect
  background: red
.game-field__card--reset
  background: turquoise

.game-field__card--front, .game-field__card--back
  margin: 0
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden

.game-field__card--front
  background: blue

.game-field__card--back
  background: yellow
  transform: rotateY(180deg)

.flip
  transform: rotateY(180deg)
